.summary {
	margin-bottom: 20px;
}

.summary .label {
	display: block;
}

.summary h1 {
	margin: 10px;
}

.summary h3 {
	margin: 10px;
}

.chart {
	margin-top: 50px;
	margin-bottom: 50px;
}

.config {
	margin-top: 50px;
}